1_Ejercicios cortos_PabloGalan.ipynb
2_Ejercicio web scraping_PabloGalan.ipynb
3_Ejercicio regresion lineal (opcional)_PabloGalan.ipynb
5_Ejercicio an*
Imagenes_Practicas_AlgoritmosAvanzados_Pablo.zip
deeplearning_mnist_PabloGalan.ipynb
indoorOutdoor_PabloGalan.ipynb
sentiment_PabloGalan.ipynb
svmScikit_PabloGalan.ipynb
svm_train_PabloGalan.ipynb